h1 {
  color: #a67c00;
  font-size: 50px;
  text-shadow: 2px 2px 3px #000000;
}

body {
  background-image: url("https://images.pexels.com/photos/697662/pexels-photo-697662.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
}
